.login {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.402);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: max(23vw, 30vw);
  color: rgb(129, 123, 123);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-title img {
  width: 16px;
  cursor: pointer;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input input {
  outline: none;
  border: 1px solid rgb(95, 95, 95);
  padding: 10px;
  border-radius: 4px;
}

.login-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 5px;
}

.login p span {
  color: tomato;
  cursor: pointer;
  font-weight: 500;
}
